* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: my-cool-font;
    src: url(./assets/Norse-Bold.otf);
}

main{
    display: flex;
}

.left {
    background: no-repeat center/100% url(./assets/nature\ .jpg);
    height: 100vh;
    width: 40vw;
}

.right{
    width: 60vw;
}

.top{
    display: flex;
    align-items: flex-end;
    height: 35vh;
    background-color: #e9f5f8fe;
    padding-left: 20px;
    padding-bottom: 30px;
}

.mid{
    height: 30vh;
}

.myForms{
    display: flex;
}

.end{
    height: 35vh;
    background-color: #e9f5f8fe;
}